<template>
	<!-- Static LinkButton CreateAccount -->
	<div class="block lg:hidden">
		<button
			class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">
			Create An Account
		</button>
	</div>
</template>