<template>
	<!-- Default Layout -->
	<title>CommissionR</title>
	<meta name="description"
		content="CommissionR is a commission tracking and management tool for artists and creators. It's a work in progress, so please be patient with us as we work out the kinks. If you have any questions or suggestions, please feel free to contact us at commissionR@our-space.xyz">
	<meta name="image" content="https://i.imgur.com/4Z4Z4Z4.png">
	<meta property="og:title" content="CommissionR">
	<meta property="og:description"
		content="CommissionR is a commission tracking and management tool for artists and creators. It's a work in progress, so please be patient with us as we work out the kinks. If you have any questions or suggestions, please feel free to contact us at commissionR@our-space.xyz">
	<meta property="og:image" content="https://i.imgur.com/4Z4Z4Z4.png">
	<meta property="og:url" content="https://commissionr.our-space.xyz">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="CommissionR">
	<meta name="twitter:description"
		content="CommissionR is a commission tracking and management tool for artists and creators. It's a work in progress, so please be patient with us as we work out the kinks. If you have any questions or suggestions, please feel free to contact us at commissionR@our-space.xyz">
	<meta name="twitter:image" content="https://i.imgur.com/4Z4Z4Z4.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<!--  CommissionR  -->
	<div class="body">
		<LandingNavBar />
		<slot />
	</div>
</template>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
	/* Background */
	.body {
		background-color: #1a1a1a;
		color: #fff;
		width: 100%;
		height: 100%;
	}
</style>