<!--  CommissionR  -->
<!-- CommissionR is a commission tracking and management tool for artists and creators. It's a work in progress, so please be patient with us as we work out the kinks. If you have any questions or suggestions, please feel free to contact us at
commissionr@our-space.xyz -->
<template>
	<div>

	</div>
</template>
<script setup>
definePageMeta({
	title: 'CommissionR',
	description: 'CommissionR is a commission tracking and management tool for artists and creators. It\'s a work in progress, so please be patient with us as we work out the kinks. If you have any questions or suggestions, please feel free to contact us at commissionR@our-space.xyz',
	image: 'https://i.imgur.com/4Z4Z4Z4.png',
	url: 'https://commissionr.our-space.xyz'
})
</script>