<template>
	<!-- Nav/Link.vue -->
	<div class="nav-item">
		<!-- If type normal router-link and if button button-->
		<component :is="type === 'normal' ? 'router-link' : 'button'" :to="to" class="link">
			<slot />
		</component>
	</div>
</template>
<script setup>
defineProps({
	to: {
		type: String,
		required: true
	},
	type: {
		type: String,
		required: true
	}
})
</script>
<style scoped>
.link {
	color: #fff;
	text-decoration: none;
}
button {
	background-color: #0000;
	border: none;
}
router-link {
	color: #fff;
	text-decoration: none;
}
</style>