<template>
	<!-- Brand/Logo.vue -->
	<div class="brand-icon">
		<img v-if="logo_url.endsWith('.svg')" :src="logo_url" alt="logo" />
		<div v-else class="brand-icon">
			<img :src="logo_url" alt="logo" />
		</div>
	</div>
</template>
<script setup>
const logo_url = 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
</script>
<style scoped>
.brand-icon {
	width: 2rem;
	height: 2rem;
	background-color: #fff;
	border-radius: 50%;
}
</style>