<template>
	<!-- Landing/NavBar.vue -->
	<div>
		<nav>
			<div class="branding">
				<BrandLogo />
			</div>
			<li class="nav-list">
				<div class="nav-item branding"></div>
				<div class="nav-item links">
					<NavLink to="/about" type="normal">About Us</NavLink>
					<NavLink to="/feedback" type="normal">Feedback</NavLink>
				
					<NavLink to="/signup" type="button">Start Creating</NavLink>
				</div>
			</li>

		</nav>
	</div>
</template>
<style scoped>
	nav {
		background-color: #0000;
		color: #fff;
		width: 100%;
		height: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1rem;

	}
	.nav-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	.nav-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1rem;
	}
	.branding {
		width: 2rem;
		height: 2rem;
		background-color: #fff;
		border-radius: 50%;
	}

</style>

<script setup>

</script>